@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: normal;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, "Twentieth Century", sans-serif;
    background: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: "Cabin", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

strong {
    font-weight: bolder;
}

footer {
    width: 100%;
    background: linear-gradient(360deg, red 15%, #ddd 170%);
    padding: 20px;
    font-weight: 300;
    line-height: 1.7;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-family: "Cabin", sans-serif;
}

.containerFooter {
    display: grid;
    grid-template-columns: 35% 40% 10%;
    border-bottom: 2px solid white;
}

.divFooterIMG {
    padding: 20px;
    text-align: start;
    display: flex;
    pointer-events: none;
}

.divFooterIMG img {
    margin-right: 20px;
    width: 50%;
    height: auto;
}

.h3Footer {
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
}

.linkRed {
    text-decoration: none;
    color: white;
}

.linkRed:hover {
    text-decoration: none;
    color: rgb(221, 132, 132);
}

.nosotros {
    margin-right: 75px;
    text-decoration: none;
    list-style: none;

}

.creditos {
    margin-right: 75px;
    text-decoration: none;
    list-style: none;
}

.redes {
    text-decoration: none;
    list-style: none;
}

.footer-menu-nosotros {
    list-style: none;
    padding: 0;
}

.footer-menu-credits {
    list-style: none;
    padding: 0;
}

.footer-menu-redes {
    list-style: none;
    padding: 0;
}

.footer-menu-credits li {
    display: flex;
    margin-top: 5px;
    text-align: center;
    align-items: center;
}
.footer-menu li {
    margin-bottom: 5px;
    color: #FFEBA7;
}

@media (max-width: 1510px) {
    .containerFooter {
        display: grid;
        grid-template-columns: 50% 50%;
        border-bottom: 2px solid #2B2E38;
    }
    
}

@media (max-width: 900px) {
    .h3Titulo{
        font-size: 12px;
    }
}

@media (max-width: 690px) {
    .divFooterIMG{
        display: none;
        visibility: hidden;
    }
}
@media (max-width: 400px) {

    .columns {
        display: block;

    }
}
