@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Inter:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: normal;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, "Twentieth Century", sans-serif;
    background: white;
    min-height: 100vh;
}

h1 {
    font-family: "Cabin", sans-serif;
    font-size: 40px;
    font-weight: bold;
}

strong {
    font-weight: bolder;
}

/* HEADER */

.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: transparent;
    border-bottom: 1px solid #fff6;
    padding: 12px 250px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 20px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    transition: top 0.35s ease;
    z-index: 0;
}

.header:hover::before {
    top: 0;
}

.header:hover .nav a {
    color: black;
} 

.nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

.nav a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.6s ease;
    position: relative;
    margin: 10px 0;
}

.header:hover .nav a:hover {
    color: red;
    transform: translateY(-1px);
}

.nav a::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 0;
    height: 2px;
    background: rgba(255, 0, 0, 0.8);
    transition: 0.35s ease;
}

.nav a:hover::after {
    width: 100%;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 80px;
    width: auto;
}

#logo {
    opacity: 0;
    transition: 0.35s ease;
}

#logo_blanco {
    filter: brightness(85%);
    transition: 0.35s ease;
}

.header:hover #logo_blanco {
    opacity: 0;
}

.header:hover #logo {
    opacity: 1;
}

/* FIN DEL HEADER */

/* VIDEO BACKGROUND */

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
    z-index: -1;
}

/* FIN DE VIDEO BACKGROUND */

/* TITULO INICIAL */

.title-container {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 923px;
    width: 100%;
    padding: 70px 50px;
}

.title-container h1 {
    color: white;
    text-align: center;
    bottom: 50px;
    position: relative;
}

.title-container p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 0 0 20px;
    bottom: 50px;
    position: relative;
}

.title-button {
    color: white;
    border: 1px solid #fff;
    background: transparent;
    display: inline-flex;
    cursor: pointer;
    padding: 7px 30px;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.35s ease;
}

.title-button:hover {
    background-color: white;
    color: black;
    transition: 0.35s ease;
}

/* FIN DEL TITULO INICIAL */

.section-container {
    position: relative;
    z-index: 1;
    background-color: white; 
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Inter", sans-serif;
}

/* MODALIDAD INFORMÁTICA */

.modality-section {
    margin-bottom: 100px;
}

.modality-section .inner-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    align-items: start;
  }
  
.modality-image {
    width: 100%;
    height: 563px;
    display: block;
    border-radius: 12px;
    filter: brightness(70%);
}
  
.right-copy .section-title {
    margin-top: 1px;
    font-size: 1.8rem;
}

.right-copy .section-description {
    margin-bottom: 1.15rem;
    font-size: calc(var(1.1, 1) * .9375rem);
    line-height: calc(var(0.8, 1) * 1.5);
    font-weight: 500;
}
  
.features-list {
    list-style: none;
    padding: 0;
    margin: 0 0 1.2em;
}
.features-list li {
    position: relative;
    padding-left: 1.8em;
    margin-bottom: .8em;
}
.features-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: calc(var(1.1, 1) * .9375rem);
    line-height: calc(var(0.8, 1) * 1.5);
    font-weight: 500;
}

.modality-button {
    color: black;
    border: 1px solid black;
    background: transparent;
    display: inline-flex;
    cursor: pointer;
    padding: 7px 30px;
    align-items: center;
    justify-content: center;
    height: 48px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.35s ease;
    border-radius: 8px;
    position: relative;
    left: 35%;
    margin-top: 40px;
}

.modality-button:hover {
    background-color: black;
    color: white;
    transition: 0.35s ease;
}

/* FIN DE MODALIDAD INFORMÁTICA */

/* PROYECTOS */



/* FIN DE PROYECTOS */